<div class="bg">
  <div class="main">
    <div class="flex p-4">
      <p class="text-white text-3xl ml-4 mt-2 font-bold">weather.</p>
      <p class="ml-auto text-white text-xl mt-2 mr-4 md:mr-16">Location</p>
    </div>

    <div class="flex pl-8 mt-24 text-white">
      <ul>
        <li class="h-24 w-24 text-2xl">
          <img src="../../assets/weather.png" />
        </li>
        <li>21 deg</li>
        <li>Saturday</li>
        <li>29-11-2023</li>
        <li>East Legon, Jungle Ave</li>
      </ul>
      <div class="data ml-auto mr-12 md:mr-44">
        <p class="">Light Rain</p>
        <p class=""></p>
        <br />
        <div class="grid grid-cols-2 gap-44">
          <ul>
            <li>Precipitation</li>
            <li>Humidity</li>
            <li>Wind</li>
          </ul>

          <ul>
            <li>Dew Point</li>
            <li>Pressure</li>
            <li>Moon Phase</li>
          </ul>
        </div>

        <div class="grid grid-cols-3 gap-12 mt-16">
          <div class="cont p-4 border border-gray-600 rounded-md">
            <ul>
              <li> <img src="../../assets/21c5ea6c5df672128c457d0c2ec91f52-removebg-preview.png" width="45px" height="25px" /></li>
              <li>Sunday</li>
              <li>24 Celc</li>
              <li>Light Rain</li>
            </ul>
          </div>

          <div class="cont p-4 border border-gray-600 rounded-md">
            <ul>
              <li><img src="../../assets/3bfb1409436ec4f55ea7c29d3b199f6b-removebg-preview.png" width="40px" height="20px"/></li>
              <li>Sunday</li>
              <li>24 Celc</li>
              <li>Light Rain</li>
            </ul>
          </div>

          <div class="cont p-4 border border-gray-600 rounded-md">
            <ul>
              <li><img src="../../assets/6eaae6c120ecf57c92c9ab7edb0d5256-removebg-preview.png" width="40px" height="20px"/></li>
              <li>Sunday</li>
              <li>24 Celc</li>
              <li>Light Rain</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
